.footer {
    background-color: #282c34;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  .footer a {
    color: #61dafb;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer p {
    color: white;
  }